body {
	font: 12pt/1.5em Helvetica, Arial, Verdana, sans-serif;
	color: #444;
	background: #c00;
}

body.esp {
	font: 12pt/1.5em Helvetica, Arial, Verdana, sans-serif;
	color: #444;
	background: #800;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2em;
	color: #c00;
}

h2 {
	font-size: 1.4em;
	color: #c00;
}

img {
	border: none;
}

img.app-icon {
	border: none;
	display: inline;
	margin: 0;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 12px;
	vertical-align: middle;
}

div.downloadbtn {
	text-align: center;
	width: 4em;
	margin-left: 8px;
	margin-right: 8px;
}

div.left-downloadbtn {
	text-align: left;
	width: 4em;
	margin-left: 8px;
	margin-right: 8px;
}

div.wide-downloadbtn {
	text-align: center;
	width: 10em;
	margin-left: 8px;
	margin-right: 8px;
}

#side-a-esp {
	float: left;
	width: 80px;
	padding: 20px;
	font-size: 70%;
	color: black;
	line-height: 90%;
}
#side-a-esp a {
	text-decoration: none;
	color: red;
}
#side-a-esp a:hover {
	text-decoration: underline;
}

#note {
	padding: 0;
	margin: 0;
	line-height: 110%;
	font-size: 70%;
	color: red;
}

#infoarea {
	overflow: hidden;
	color: #444;
	background: white;
	border: 1px #ccc solid;
	/*margin-left: 120px;*/
	padding-left: 10px;
	width: 67%;
}

#extra {
	background: #fff;
	padding-top: 10px;
	padding-left: 120px;
	width: 67%;
}

#testingimg {
	position: absolute;
	top: 8px;
	left: 1px;
}

table#payment {
	 padding: 4px 0 4px 0;
}

p.small {
	font-size: .9em;
}

ul.left {
	float: left;
	width: 20%;
}

ul.right {
	float: left;
	width: 20%;
}

ul.moreright {
	float: left;
	width: 20%;
}

ul {
	list-style: none;
}

span.cash {
	color: #0000cd;
	font-weight: bold;
	font-size: 1.3em;
}

span.required {
	color: #c00;
}

span.important {
	color: red;
}

span.error {
	color: red;
}

.bottompad {
	margin: 0 0 5px 0;
}

p.border {
	padding: 2px;
	border: 1px solid #999;
	width: auto;
}

.indented {
	margin-left: 20px;
}

div.loginform {
	border: 1px #ccc solid;
	padding: 8px 8px 8px 20px;
	width: 450px;
	margin-left: 40px;
}

div.securityinfo {
	float: right;
}

.securitytext {
	color: red;
}

td.mtlabel {
	width: 120px;
}

td.label {
	width: 120px;
}

td.input {
	width: 250px;
}

td.hlabel {
	padding-right: 1em;
}

td.hinput {
	padding-right: 1em;
}

td.herror {
	padding-left: 4em;
}

td.alabel {
	padding-right: 8px;
	font-weight: bold;
	white-space: nowrap;
}

td.ainput {
	white-space: nowrap;
}

table#acctinfo {
	margin-left: 20px;
}

td.vlabel {
	padding-left: 2px;
}

td.vinput {
	padding-left: 12px;
	padding-right: 12px;
}

td.ailabel {
	padding-left: 2px;
}

td.aidata {
	padding-left: 12px;
}

input.acctno {
	width: 75px;
}

select.cc_type {
	width: 132px;
}

input.email {
	width: 12em;
}

input.lname {
	width: 8em;
}

input.sub_id {
	width: 8em;
}

input.uid {
	width: 6em;
}

input.upwd {
	width: 6em;
}

input.zip {
	width: 6em;
}

div.buttons {
	margin-left: 85px;
}

div.fixedcountry {
	border: 1px solid black;
	width: 12em;
	margin: 2px 0 2px 0;
}

td.acctnolabel {
	border-left: solid red 1px;
	border-top: solid red 1px;
	border-bottom: solid red 1px
}

td.acctnovalue {
	border-right: solid red 1px;
	border-top: solid red 1px;
	border-bottom: solid red 1px
}

.subscribebutton {
	margin: 25px 0 0 0;
	text-align: center;
}

#wrapper {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	width: 950px;
	background: #fff;
	border: 3px #ccc solid;
}

#side-a {
	float: left;
	width: 250px;
	padding: 5px 5px 5px 0;
}

#side-a p, #side-a h1 {
	padding-left: 10px;
}

#side-a ul {
	list-style-type: disc;
}

#side-a a {
	color: #000;
}

#orderarea {
	overflow: hidden;
	border: 1px #ccc solid;
	margin-right: 10px;
}

#account {
	background-color: gold;
}

#address {
	padding: 5px 0px 5px 10px;
	float: left;
	width: 40%;
	/*border-left: 1px #ccc solid;
	border-top: 1px #ccc solid;*/
}

#side-b {
	float: right;
	width: 350px;
	padding: 5px 0 0 0;
}

#header {
	background: #fff;
}

#content {
}

#footer {
	border-top: 3px #ccc solid;
	clear: both;
	background: #fff;
	font-size: .8em;
	padding: 10px 10px 10px 10px;
	overflow: hidden;
}

#already-sub {
	padding-bottom: 12px;
	text-align: center;
}

#already-sub a {
	font-size: larger;
	font-weight: bold;
	color: #d40107;
}
